<section class="form-region">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 section-block">
    <div class="f-label form-group form-group-lg" ng-repeat="input in section.inputs" ng-show="tabs.isVisible(input.valorvisibility, formulario.sections)">
      <div class="input-group" ng-show="gInput.isSet(input.input_id, input.requerido)">
        <input disabled type="text" class="form-control" value="[[input.name]]">
        <div class="input-group-addon">[[input.validacion]]</div>
        <input type="text" currency-input = "" name="[[input.input_id]]" ng-model="input.record.value" class="form-control hide-last" focus="[[gInput.isFocus(input.input_id)]]" style="text-align: right;">
        <input type="hidden" value="[[input.record.input_id=input.input_id.toString()]]">
        <span class="input-group-addon" ng-click="input.record.value=gInput.setInput(input.input_id, false)">
        <span class="glyphicon glyphicon-remove" ></span>
        </span>
        <span class="input-group-addon input-group-addon-tootip" data-toggle="tooltip" data-trigger="click" data-placement="top" title="[[input.description]]" tooltip>
        <span class="glyphicon glyphicon-question-sign" ng-hide='input.description==""'></span>
        <span class="glyphicon glyphicon-question-sign" ng-show='input.description==""' style="color:#fff"></span>
        </span>
      </div>
    </div>
    <div class="form-group form-group-lg">
<!--       <select ng-change="selectedInput=gInput.setInput(selectedInput, true)" class="form-control" name="values[]" ng-model="selectedInput" ng-options="option.input_id as option.name  for option in section.inputs">
        <option value="">Agregar opciones</option>
      </select> -->

      <select ng-change="selectedInput=gInput.setInput(selectedInput, true)" class="form-control" ng-model="selectedInput">
        <option value="">Agregar opciones</option>
        <option ng-repeat="input in section.inputs" value="[[input.input_id]]" ng-hide="gInput.isSet(input.input_id, input.requerido)">[[input.name]]</option>
      </select>



    </div>
  </div>
</section>